[Unit]
Description=CraneSched - Cplugind
After=network.target nss-lookup.target

[Service]
User=root
ExecStart=/usr/local/bin/cplugind
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
